<?xml version="1.0" encoding="utf-8"?>
<configuration xsi:noNamespaceSchemaLocation="ArchivizerConfiguration.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <configSections>
    <section name="SupportedArchivizerConfigurationForDirectorySection" type="AppConfigurationManager.Configuration.SupportedArchivizerConfigurationForDirectorySection, AppConfigurationManager" />
    <section name="GlobalConfigurationSection" type="AppConfigurationManager.Configuration.GlobalConfigurationSection, AppConfigurationManager" />
  </configSections>
  <GlobalConfigurationSection archivizer7zFullName="C:\Program Files\7-Zip\7zg.exe" 
                              deleteSourceFileAfterArchiving="true"
                              maxNumberOfLatestArchiveFilesInKept="5"/>

  <SupportedArchivizerConfigurationForDirectorySection>
    <ArchivizerConfigurationForDirectory
       name="backupy spr"
       compressionLevel="Fastest"
       formatArchiwum="7z"
       directoryFullName="C:\Users\Przemi\Desktop\archive"
       fileExtensionToCompression="bak"
    />
    <!--<ArchivizerConfigurationForDirectory
       name="backupy test"
       compressionLevel="Normal"
       formatArchiwum="7z"
       directoryFullName="C:\Users\Przemi\Desktop\archive1"
       fileExtensionToCompression="bak"
    />-->
  </SupportedArchivizerConfigurationForDirectorySection>
</configuration>